<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="mycon" connectionString="SERVER=localhost;USER=postgres;PASSWORD=1234;DATABASE=FriendDB;PORT=5432"/>-->
    <add name="mycon" connectionString="Data Source = AM-BCN-POR-425; Initial Catalog = VuelingChat; Trusted_Connection=yes; Integrated Security = SSPI"/>
    <!--<add name="mycon" connectionString="SERVER=localhost; DATABASE=VuelingChat; PORT=5432"/>-->
  </connectionStrings>
</configuration>